@import 'vanilla-framework';
@include vanilla;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #f1f0e5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}