.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .title {
    margin: 32px 0;
  }
  
  .subtitle {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .textarea-container {
    width: 100%;

    .textarea {
      height: 120px;
    }
  }

  .reading-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}